[submodule "digitalpersonalib"]
	path = digitalpersonalib
	url = https://github.com/rachmataditiya/libdigitalpersona
[submodule "libfprint_repo"]
	path = libfprint_repo
	url = https://github.com/rachmataditiya/libfprint-mac
[submodule "fingerprint-sdk"]
	path = fingerprint-sdk
	url = https://github.com/rachmataditiya/fingerprint-sdk.git
