<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" android:versionCode="1" android:installLocation="auto">
    <application android:label="@string/app_name" android:name="org.qtproject.qt.android.bindings.QtApplication" android:hardwareAccelerated="true">
        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density" android:name="org.qtproject.qt.android.bindings.QtActivity" android:label="FingerprintApp" android:screenOrientation="unspecified" android:launchMode="singleTop" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="FingerprintApp_arm64-v8a"/>
            <meta-data android:name="android.app.qt_sources_path" android:value=""/>
            <meta-data android:name="android.app.repository" android:value="default"/>
            <meta-data android:name="android.app.qt_libs_resource_id" android:value=""/>
            <meta-data android:name="android.app.bundled_libs_resource_id" android:value=""/>
            <meta-data android:name="android.app.bundle_local_qt_libs" android:value="1"/>
            <meta-data android:name="android.app.use_local_qt_libs" android:value="1"/>
            <meta-data android:name="android.app.libs_prefix" android:value="/data/data/com.arkana.fingerprintapp/"/>
            <meta-data android:name="android.app.load_local_libs_resource_id" android:value=""/>
            <meta-data android:name="android.app.load_local_jars" android:value=""/>
            <meta-data android:name="android.app.static_init_classes" android:value=""/>
            <meta-data android:name="android.app.uses_local_qt_libs" android:value="1"/>
            <meta-data android:name="android.app.qt_load_local_libs" android:value="1"/>
        </activity>
    </application>
    <!-- SDK versions are set in build.gradle -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-feature android:name="android.hardware.usb.host"/>
</manifest>

